* {
	padding: 0;
	margin: 0;
}

.bubbles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 100vw;
	height: 100vh;
	background-color: lime;
   
}
.bubbles-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

.bubble {
	width: 10vw;
	aspect-ratio: 1;
	height: 10vw;
	background-color: green;
	transition: background-color 2s, transform 2s;
	border-radius: 50%;
    animation: rise 20s infinite linear, sideways 5s infinite linear;
}

.bubble:hover {
	background-color: rgb(163, 17, 180);
	transform: scale(2);
}

@keyframes rise {
    0% {
        bottom: -10px;

        transform: translateY(100vw);
    }
    100% {
        transform: translateY(0vw);
    }
}

@keyframes sideways {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}
